@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

/* hero section starts */
.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  z-index: 5;
  /* padding: 130px; */
  padding-top: 50px;
  overflow: visible;
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 10;
}

.home .image {
  flex: 1 1 40rem;
  z-index: 1;
}

.home .image img {
  width: 70%;
  margin-left: 6rem;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.home .image img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.home .content h2 {
  font-size: 5rem;
  font-weight: 800;
  color: #002057;
}

.home .content h2 span {
  font-size: 5rem;
  font-weight: 800;
  color: #ff7b00;
}

.home .content p {
  font-size: 2.5rem;
  color: #000;
  font-weight: 600;
  padding: 4rem 0;
}

.home .content p span {
  font-size: 2.5rem;
  color: rgb(148, 8, 8);
  font-weight: 600;
  padding: 1rem 0;
}

.home .btn {
  z-index: 10;
  margin-top: 2rem;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 4em;
  transition: background 0.5s ease, transform 0.3s ease;
  color: #fff;
  background: #2506ad;
  box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}

.home .btn span {
  z-index: 10;
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}

.home .btn i {
  z-index: 10;
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.home .btn:hover {
  z-index: 10;
  background: #1a047e;
}

.home .btn:hover i {
  z-index: 10;
  transform: translateX(5px);
}

/* social icons start */
.socials {
  z-index: 10;
  position: relative;
  margin-top: 9rem;
}

.socials .social-icons {
  z-index: 10;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.socials .social-icons li {
  z-index: 10;
  display: inline-block;
  margin-bottom: 14px;
}

.social-icons a {
  z-index: 10;
  font-size: 2rem;
  display: inline-block;
  line-height: 44px;
  color: #00d9ff;
  background-color: #09011b;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  z-index: 10;
  color: #fff;
  background-color: #0685da;
}

.social-icons a.github:hover {
  z-index: 10;
  background-color: #0e0e0e;
}

.social-icons a.twitter:hover {
  z-index: 10;
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  z-index: 10;
  background-color: #007bb6;
}

.social-icons a.dev:hover {
  z-index: 10;
  background-color: #070707;
}

.social-icons a.instagram:hover {
  z-index: 10;
  background-color: #ee00da;
}
/* social icons end */

/* hero media queries starts */
@media (max-width: 450px) {
  .home .btn {
    margin: 4rem 0;
  }

  .socials {
    margin-top: 12rem;
  }

  .home .image img {
    margin-top: 0rem;
    margin-left: 5rem;
  }

  .home .content p {
    font-size: 2.2rem;
  }

  .home .content p span {
    
    font-size: 1.6rem;
  }
}
/* hero media queries ends */
/* hero section end */
